.container-class{
    border: 1px solid red;
    height: 92vh;
}

.row-class{
    border: 1px solid blue;
    height: 100%;
}

.col-class{
    border: 1px solid pink;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-css{
    border: 1px solid;
    width: 450px;
    padding: 10px;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.submit{
    width: 50%;
    margin: auto;
    border-radius: 10px;
}