<div class="container container-class">
    <div  class="row row-class">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-class flex-row">

       
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="">
   
        <h1>Forgot password</h1>
        
  
    <hr class="mt-2" style="margin-top:0px; border-color: lightgrey; ">
    <div class="form-css">
        <div class="form-group">
        <label for="password" >New password: </label>
        <input type="password" formControlName="password" id="password" class="form-control">
        <span *ngIf="forgotPasswordForm.get('password').errors?.required">Password field is required</span>
        <!--<span *ngIf="!signupForm.get('username') && signupForm.get('username').touched">Please enter a valid username</span>-->

    </div>
    <div class="form-group">
        <label for="repeat_password">Repeat password: </label>
        <input type="password" formControlName="repeat_password" id="password" class="form-control">
        <span *ngIf="forgotPasswordForm.get('repeat_password').errors?.required">Repeat password field is required</span>

        
    </div>
    <br>
    <div style="padding-bottom:12px; padding-top:0px;">
    <button [disabled]="!forgotPasswordForm.valid"  class="btn btn-primary submit" type="submit">Submit</button>
</div>
</div>
    </form>
        </div>
    </div>
</div>
